In [1]:
# Imports

import time
import pandas as pd
import numpy as np
import pyterrier as pt

## Implementation of Baseline Model (BM25)
Craig Macdonald and Nicola Tonellotto. 2020. Declarative Experimentation in Information Retrieval using PyTerrier. In Proceedings of the 2020 ACM SIGIR on International Conference on Theory of Information Retrieval (ICTIR '20). Association for Computing Machinery, New York, NY, USA, 161–168. <br> DOI:https://doi-org.tudelft.idm.oclc.org/10.1145/3409256.3409829

In [2]:
# Initialize PyTerrier

if not pt.started():
    pt.init()

PyTerrier 0.8.0 has loaded Terrier 5.6 (built by craigmacdonald on 2021-09-17 13:27)

No etc/terrier.properties, using terrier.default.properties for bootstrap configuration.

In [5]:
!tar xvfz collections/msmarco_passage/collection.tar.gz -C collections/msmarco_passage

collection.tsv

In [6]:
dataset = pt.get_dataset("trec-deep-learning-passages")

In [7]:
# Iterator for msmarco passage

def msmarco_generate():
    
    with pt.io.autoopen('collections/msmarco_passage/collection.tsv', 'rt') as corpusfile:
        for l in corpusfile:
            docno, passage = l.split("\t")
            yield {'docno' : docno, 'text' : passage}

In [8]:
# Terrier Indexing

indexer = pt.IterDictIndexer("./indexes/msmarco-passage")
indexref = indexer.index(msmarco_generate(), fields=['docno', 'text'], meta_lengths=[20, 4096])
index = pt.IndexFactory.of(indexref)
print(index.getCollectionStatistics().toString())

16:07:03.648 [ForkJoinPool-1-worker-3] WARN org.terrier.structures.indexing.Indexer - Adding an empty document to the index (500080) - further warnings are suppressed
16:26:31.714 [ForkJoinPool-1-worker-3] WARN org.terrier.structures.indexing.Indexer - Indexed 5 empty documents
Number of documents: 8841823
Number of terms: 1170693
Number of postings: 215248445
Number of fields: 2
Number of tokens: 288769520
Field names: [docno, text]
Positions:   false

In [9]:
# Batch Retrievalfor BM25 

BM25_baseline = pt.BatchRetrieve(index, wmodel="BM25", verbose=True)

In [11]:
# Evaluation

start_time = time.time()

result = pt.Experiment([BM25_baseline], 
                       dataset.get_topics("test-2019"), 
                       dataset.get_qrels("test-2019"),
                       eval_metrics=["recip_rank", "ndcg_cut_10","map"])

print(f'Time taken : {time.time() - start_time}')

BR(BM25): 100%|████████████████████████████████████████████████████████████████████████| 200/200 [00:34<00:00,  5.75q/s]

Time taken : 35.78198957443237

In [12]:
result

       name  recip_rank  ndcg_cut_10       map
0  BR(BM25)    0.795028     0.479592  0.370014

In [13]:
# Topic wise analysis

start_time = time.time()

result_per_query = pt.Experiment([BM25_baseline], 
                                 dataset.get_topics("test-2019"),
                                 dataset.get_qrels("test-2019"), 
                                 eval_metrics=["recip_rank", "ndcg_cut_10","map"],
                                 perquery=True)

print(f'Time taken : {time.time() - start_time}')

BR(BM25): 100%|████████████████████████████████████████████████████████████████████████| 200/200 [00:20<00:00,  9.69q/s]

Time taken : 21.154677867889404

/home/sayak/anaconda3/envs/coreir/lib/python3.9/site-packages/pyterrier/pipelines.py:108: UserWarning: 157 topic(s) not found in qrels. Scores for these topics are given as NaN and should not contribute to averages.
  warn(f'{backfill_count} topic(s) not found in qrels. Scores for these topics are given as NaN and should not contribute to averages.')

In [17]:
result_per_query = result_per_query[result_per_query["value"].notnull()]

In [22]:
result_per_query[result_per_query["measure"]=='map'].sort_values(by="value")

         name      qid measure     value
96   BR(BM25)  1121709     map  0.000239
6    BR(BM25)  1063750     map  0.003193
93   BR(BM25)   443396     map  0.005157
12   BR(BM25)   489204     map  0.055242
39   BR(BM25)   962179     map  0.058701
24   BR(BM25)   527433     map  0.064043
78   BR(BM25)  1106007     map  0.094742
27   BR(BM25)  1037798     map  0.109533
48   BR(BM25)   451602     map  0.122209
66   BR(BM25)   833860     map  0.139674
3    BR(BM25)  1110199     map  0.141311
120  BR(BM25)  1113437     map  0.146926
57   BR(BM25)  1112341     map  0.150377
42   BR(BM25)  1117099     map  0.214895
45   BR(BM25)   148538     map  0.216894
108  BR(BM25)    19335     map  0.227170
99   BR(BM25)    87452     map  0.247845
33   BR(BM25)   264014     map  0.276470
54   BR(BM25)  1115776     map  0.282277
75   BR(BM25)   183378     map  0.307442
60   BR(BM25)   131843     map  0.326210
87   BR(BM25)  1103812     map  0.327390
114  BR(BM25)   405717     map  0.330586
63   BR(BM25)   104861     map  0.356783
123  BR(BM25)  1129237     map  0.368093
30   BR(BM25)   915593     map  0.369940
111  BR(BM25)    47923     map  0.405394
84   BR(BM25)   490595     map  0.409779
69   BR(BM25)   207786     map  0.430605
105  BR(BM25)  1114646     map  0.453310
51   BR(BM25)   359349     map  0.498399
126  BR(BM25)   146187     map  0.539382
21   BR(BM25)  1133167     map  0.574044
15   BR(BM25)   573724     map  0.580211
72   BR(BM25)  1114819     map  0.671132
90   BR(BM25)    87181     map  0.683568
0    BR(BM25)   156493     map  0.742523
18   BR(BM25)   168216     map  0.792078
102  BR(BM25)   855410     map  0.804167
36   BR(BM25)  1121402     map  0.809884
117  BR(BM25)   182539     map  0.811010
9    BR(BM25)   130510     map  0.851095
81   BR(BM25)  1124210     map  0.910701

In [24]:
result_per_query[result_per_query["measure"]=='ndcg_cut_10'].sort_values(by="value")

         name      qid      measure     value
41   BR(BM25)   962179  ndcg_cut_10  0.000000
98   BR(BM25)  1121709  ndcg_cut_10  0.000000
95   BR(BM25)   443396  ndcg_cut_10  0.069431
50   BR(BM25)   451602  ndcg_cut_10  0.122273
8    BR(BM25)  1063750  ndcg_cut_10  0.142811
29   BR(BM25)  1037798  ndcg_cut_10  0.152866
47   BR(BM25)   148538  ndcg_cut_10  0.163883
86   BR(BM25)   490595  ndcg_cut_10  0.223715
122  BR(BM25)  1113437  ndcg_cut_10  0.226504
26   BR(BM25)   527433  ndcg_cut_10  0.293011
14   BR(BM25)   489204  ndcg_cut_10  0.323369
56   BR(BM25)  1115776  ndcg_cut_10  0.334768
35   BR(BM25)   264014  ndcg_cut_10  0.334922
17   BR(BM25)   573724  ndcg_cut_10  0.342787
107  BR(BM25)  1114646  ndcg_cut_10  0.363148
77   BR(BM25)   183378  ndcg_cut_10  0.366266
80   BR(BM25)  1106007  ndcg_cut_10  0.368773
5    BR(BM25)  1110199  ndcg_cut_10  0.370675
116  BR(BM25)   405717  ndcg_cut_10  0.375915
32   BR(BM25)   915593  ndcg_cut_10  0.417021
110  BR(BM25)    19335  ndcg_cut_10  0.443316
101  BR(BM25)    87452  ndcg_cut_10  0.498614
71   BR(BM25)   207786  ndcg_cut_10  0.500240
89   BR(BM25)  1103812  ndcg_cut_10  0.507699
113  BR(BM25)    47923  ndcg_cut_10  0.535897
125  BR(BM25)  1129237  ndcg_cut_10  0.547601
23   BR(BM25)  1133167  ndcg_cut_10  0.570791
92   BR(BM25)    87181  ndcg_cut_10  0.579026
59   BR(BM25)  1112341  ndcg_cut_10  0.587924
11   BR(BM25)   130510  ndcg_cut_10  0.607313
68   BR(BM25)   833860  ndcg_cut_10  0.630043
119  BR(BM25)   182539  ndcg_cut_10  0.645527
74   BR(BM25)  1114819  ndcg_cut_10  0.647960
83   BR(BM25)  1124210  ndcg_cut_10  0.686664
38   BR(BM25)  1121402  ndcg_cut_10  0.708530
44   BR(BM25)  1117099  ndcg_cut_10  0.737502
128  BR(BM25)   146187  ndcg_cut_10  0.749035
65   BR(BM25)   104861  ndcg_cut_10  0.776306
104  BR(BM25)   855410  ndcg_cut_10  0.881199
53   BR(BM25)   359349  ndcg_cut_10  0.891957
62   BR(BM25)   131843  ndcg_cut_10  0.933746
2    BR(BM25)   156493  ndcg_cut_10  0.963412
20   BR(BM25)   168216  ndcg_cut_10  1.000000

In [26]:
result_per_query[result_per_query["measure"]=='recip_rank'].sort_values(by="value")

         name      qid     measure     value
97   BR(BM25)  1121709  recip_rank  0.002874
40   BR(BM25)   962179  recip_rank  0.025000
94   BR(BM25)   443396  recip_rank  0.125000
46   BR(BM25)   148538  recip_rank  0.200000
49   BR(BM25)   451602  recip_rank  0.333333
115  BR(BM25)   405717  recip_rank  0.333333
28   BR(BM25)  1037798  recip_rank  0.333333
7    BR(BM25)  1063750  recip_rank  0.333333
121  BR(BM25)  1113437  recip_rank  0.500000
34   BR(BM25)   264014  recip_rank  0.500000
16   BR(BM25)   573724  recip_rank  0.500000
85   BR(BM25)   490595  recip_rank  0.500000
106  BR(BM25)  1114646  recip_rank  0.500000
67   BR(BM25)   833860  recip_rank  1.000000
91   BR(BM25)    87181  recip_rank  1.000000
25   BR(BM25)   527433  recip_rank  1.000000
70   BR(BM25)   207786  recip_rank  1.000000
13   BR(BM25)   489204  recip_rank  1.000000
112  BR(BM25)    47923  recip_rank  1.000000
64   BR(BM25)   104861  recip_rank  1.000000
100  BR(BM25)    87452  recip_rank  1.000000
88   BR(BM25)  1103812  recip_rank  1.000000
52   BR(BM25)   359349  recip_rank  1.000000
103  BR(BM25)   855410  recip_rank  1.000000
109  BR(BM25)    19335  recip_rank  1.000000
76   BR(BM25)   183378  recip_rank  1.000000
118  BR(BM25)   182539  recip_rank  1.000000
73   BR(BM25)  1114819  recip_rank  1.000000
55   BR(BM25)  1115776  recip_rank  1.000000
43   BR(BM25)  1117099  recip_rank  1.000000
37   BR(BM25)  1121402  recip_rank  1.000000
4    BR(BM25)  1110199  recip_rank  1.000000
82   BR(BM25)  1124210  recip_rank  1.000000
58   BR(BM25)  1112341  recip_rank  1.000000
124  BR(BM25)  1129237  recip_rank  1.000000
10   BR(BM25)   130510  recip_rank  1.000000
61   BR(BM25)   131843  recip_rank  1.000000
127  BR(BM25)   146187  recip_rank  1.000000
79   BR(BM25)  1106007  recip_rank  1.000000
31   BR(BM25)   915593  recip_rank  1.000000
19   BR(BM25)   168216  recip_rank  1.000000
22   BR(BM25)  1133167  recip_rank  1.000000
1    BR(BM25)   156493  recip_rank  1.000000